<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table th:border="1">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Email</th>
        <th>Roles</th>
        <th colspan="2">Action</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getName()}">name</td>
        <td th:text="${user.getSurname()}">surname</td>
        <td th:text="${user.getAge()}">age</td>
        <td th:text="${user.getEmail()}">email</td>
        <td th:text="${user.getRoles()}">roles</td>

        <td><a th:href="@{/admin/users/{id}/edit(id=${user.getId()})}">Edit</a></td>
        <td><a th:href="@{/admin/users/{id}(id=${user.getId()})}">Show</a></td>
    </tr>
</table>
<br>
<form th:method="get" th:action="@{/admin/users/new}">
    <input type="submit" value="New User">
</form>
<br>
<form th:method="get" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>

</body>
</html>